@model List<ResultDealDto>
@{
    ViewData["Title"] = "Tekliflerimiz";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-hover table-bordered">
    @{
        int count = 0;
    }
    <tr>
        <th>#</th>
        <th>İlan Türü</th>
        <th>Resim Url</th>
        <th>Başlık</th>
        <th>Açıklama</th>
        <th>m2</th>
        <th>Kat</th>
        <th>Oda</th>
        <th>Park Alanı</th>
        <th>Ödeme</th>
    </tr>
    @foreach (var item in Model)
    {
        count++;
        <tr>
            <tn>@count</tn>
            <td>@item.Type</td>
            <td>@item.ImageUrl</td>
            <td>@item.Title</td>
            <td>@item.Description</td>
            <td>@item.Square</td>
            <td>@item.Floor</td>
            <td>@item.HasParkingArea</td>
            <td>@item.PaymentType</td>
            <td>
                <button onclick="deleteDeal(@item.Id)" class="btn btn-outline-danger">Sil</button>
                <a asp-asp-controller="Deal" asp-action="UpdateDeal" asp-route-itemid="@item.Id" class="btn btn-outline-danger">Güncelle</a>
            </td>
        </tr>
    }
</table>

<a asp-asp-controller="Deal" asp-action="CreateDeal" class="btn btn-outline-dark">Yeni Teklif Ekle</a>
<script>
    function deleteDeal(id)
    {
        Swal.fire({
            title: "Silmek istediğinize emin misiniz?",
            text: "Bu işlemi geri alamazsınız!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Evet, sil!",
            cancelButtonText: "İptal"
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = "/Deal/DeleteDeal/" + id;
            }
        });
    }
</script>